

.section-container-items{
  padding:100px 0px 0px 0px;
  color: #000;
}


.section a{
    display: inline-block;
}

.section h1{
    font-size: 68px;
    font-weight: 600;
    text-transform: capitalize;
    color: 000;
    letter-spacing: -0.21px;
    line-height: 90px;
    margin: 0; padding: 0;
}

.section h3{
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.30px;
	padding: 0;
    margin-top: 8px;
    margin-left: 2px;
    color: #000;
    opacity: 0.7;
}

.section .bttn{
    margin-top: 65px;
    display: block;
    padding: 21px 65px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.18px;
    line-height: 17px;
    border-radius: 50px;
    background: #249af2;
    border: none;
    cursor: pointer;
    z-index:1;
    color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;}

.bttns{
        margin-top: -10px;
        display: block;
        padding: 21px 65px;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0.18px;
        line-height: 17px;
        border-radius: 50px;
        background: #249af2;
        border: none;
        cursor: pointer;
        color: #fff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;}
    
    
.look {
    color: #05cc47;
    font-size: 3.7em;
    transform: rotate(90deg);
}


.alta-title{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.7;
    z-index: 1;
    position: absolute;
    right: 0; 
	transform: rotate(90deg) translateY(-60px);
}

.alta img {
    width:80%;
    height: auto;
}
.wave{
    margin-top: -150px;
    transform: rotate(365deg);
}
.wave2{
  transform: rotate(180deg);
margin-top: 100px;
    margin-bottom: -250px;
;
}


.left{
  width: 50%;
}

.big-feature-container
{
  display: flex;
  flex-direction: row;
  margin: 30px;
}
.big-feature-container:first-child(2)
{
  display: flex;

  flex-direction: row-reverse;
}.big-feature-container:nth-child(3)
{
  display: flex;

  flex-direction: row-reverse;
}.big-feature-container:nth-child(4)
{

  display: flex;
  flex-direction: row;
}
.big-feature-container:nth-child(5)
{

  display: flex;
  flex-direction: row-reverse;
}


.first{
    display: flex;
    justify-content: start;
    align-items: center ;
    gap: 2rem;
}
.middle
{
    padding: 20px;
}
.end .bttn {
    margin-top: -100px;
}
.service{
    margin-top: -50px;
    background: #f3f4f5;
    width: 100%;
    margin-bottom: 200px;
}
.label{
  margin-top: 250px;
  background: #f3f4f5;
  width: 100%;
  overflow: hidden;
}
.work{
    margin-top: -150px;
    background: #fff;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
}
.section-title
{
    margin-top: 150px;
 font-size: 35px;
}
.work-img img
{
    width: 80%;
    height: 200px;
}


.wrapper {
    margin: 20px;
    width: 80%;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
margin-left: 10%;
    position: relative;
    height: 300px;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: 22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3));
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 100px;
    margin-left: 22px;
    border-radius: 8px;
    padding: 20px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 282px;
    width: 340px;
    margin-top: 20px;
    margin-right:30px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 20px;
    
  }

  .wrap-icon
  {
    padding: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:1rem
  }

footer span{
  border: 1px solid white;
  border-radius: 50%;
  padding: 2px 6px
}
 .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
  }
.card-mage{
  display: flex;
  justify-content:space-between;
  gap: 1rem;
}
.cards-first
{
  margin-top: 1rem;
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content:start;
  margin-left: -10px;
 
}
.cards-first .card-col1 img{
  width: 60px;
}
.card-col2{
  font-size: 13px;
}
.stars{
  display: flex;
  margin-top: 1rem;
  justify-content: start;
  height: 20px;
  flex-direction: row;


}

.cards-sec
{
  padding: 0.5rem;
}
.logoss
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}














  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
    .carousel .card
    {
margin-left: 20px;

    }
    .wrapper
    {
      margin: 20px;
      width: 90%;
    }
    .big-feature-container
    {
      width: 90%;
      display: flex;
      flex-direction: row;
      margin-left: 5%;
    }
    .big-feature-container .left{
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }


  }




/* small screen device responsive 
===================================*/

@media  only screen and (min-width:1200px){
.nav-item > .nav-link{
   padding:5px 20px!important;
   display:block;
}
}

@media  only screen and (max-width:992px){
.header-inner{
  background-color:white;
  width:100%!important;
}
 .nav-item .nav-link {
  color:black;
}
.service .card{
margin: 20px;
}
.work .card{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
.section h1{
    font-size:40px!important;
    line-height:55px!important;
}

.navbar-brand{
    color: #000!important;
	font-weight:600;
}

.content-banner .first-title {
    font-size: 30px;
}
}
@media  only screen and (max-width:576px){
.search-model-form input {
    width: 257px!important;
    font-size: 20px!important;
    border: none;
    border-bottom: 2px solid #333;
    background: none;
    color: #999;
}
}